/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.tsev{

}
.update-nag{
    display:none;
}
:root{
    --tsev-error-color: #D73638;
    --tsev-success-color: #01A32A;
}

/***/
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tsev-login-form{
    display: block;
    margin-top: 1em;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
}
.tsev-login-form-signup{
    margin-bottom: 2.5em;
}
.tsev-login-form label{
    display: block;
    margin-bottom: .5em;
    font-size: 1.2em;
}
.tsev-login-form input[ type="text" ],
.tsev-login-form input[ type="password"]{
    display: block;
    width: 100%;
}
.tsev-login-form-control-group{
    margin-bottom: 1.5em;
}
.tsev-login-form label.tsev-login-form-get-api{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tsev-login-form label.tsev-login-form-get-api a{
    font-size: .8em;
}
.tsev-text-center,
.tsev-text-center p{
    text-align: center;
}
.tsev-text-right,
.tsev-text-right p{
    text-align: right;
}
.tsev-text-left,
.tsev-text-left p{
    text-align: left;
}
.tsev-login-form-password-field{
    position: relative;
}
.tsev-login-form-password-field input{
    padding-right: 36px;
}
.tsev-login-form-password-field a {
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    height: 32px;
    width: 36px;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    opacity: .5;
}
.tsev-login-form-password-field a:hover {
    opacity: 1;
}
.tsev-login-form-password-field a svg {
    width: 18px;
}
.tsev-login-logo{
    width: 160px;
    margin: 10em auto 0;
}

.tsev-main-container{
    display: flex;
    margin-top: 1em ;
    margin-bottom: 1em ;
}
.tsev-main-container > div:first-child{
    border-right: 1px solid #dddddd;
    padding-right: 1em;
}
.tsev-main-container > div:last-child{
    padding-left: 1em;
}
.tsev-main-account{
    flex-grow: 0;
    width: 260px;
}
.tsev-main-forms{
    flex-grow: 1;
}
.tsev-forms-logo{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    align-items: start;
}
.tsev-forms-logo img{
    width: 100px;
}
.tsev-account-status{
    display: flex;
    align-items: center;
    gap: .5em;
    font-size: .9em;
    margin-bottom: 2rem;
}
.tsev-account-connected{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--tsev-success-color);
}
.tsev-account-info {
    margin-top: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .3rem;
}
.tsev-account-disconnect {
    display: inline-flex;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    border: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.tsev-account-disconnect:hover {
    background-color: #d5d5d5;
}
.tsev-account-disconnect svg {
    fill: #616161;
    height: 14px;
    width: 14px;
}
.tsev-account-no-credits{
    border-color: var(--tsev-error-color);
    background-color: rgba(215, 54, 56, 0.05);
}
.tsev-account-no-credits span{
    color: var(--tsev-error-color);
    font-weight: bold;
}

.tsev-check-login-result {
    margin-top: 1em;
    display: none;
}
.tsev-hr-separator{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.tsev-hr-separator-half{
    margin-top: .75rem;
    margin-bottom: .75rem;
}
.tsev-credits-row{
    margin: .5rem 0;
    padding: .5rem 0 .2rem;
    border-bottom: 1px solid #dcdcde;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.tsev-form {
    max-width: 100% !important;
    margin-right: 1.5em;
}
.tsev-form-validator{
    padding: 2.5rem 1rem;
}
.tsev-validator-input{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.tsev-validator-email{
    min-width: 300px;
    width: 50%;
    font-size: 1.2em;
}
.tsev-validator-input .submit{
    margin: 0;
    padding: 0;
}
.tsev-validator-input .submit input{
    font-size: 1.2em;
}
.tsev-validator-valid{
    color: var(--tsev-success-color);
}
.tsev-validator-invalid{
    color: var(--tsev-error-color);
}
.tsev-validation-response-container{
    display: flex;
    justify-content: center;
}
.tsev-validation-response-container .tsev-validation-response{
    text-align: left;
}
.tsev-validation-response{
    padding: 1em 1.5em;
    margin: 0 0 1.5em;
    background: #f0f0f1;
    background: rgba(0, 0, 0, .07);
    font-size: 13px;
    font-family: Consolas, Monaco, monospace;
    direction: ltr;
    unicode-bidi: embed;
    border: #DDD solid 1px;
    border-radius: .25em;
}
.tsev-email-nowrap{
    /*
    white-space: nowrap;
    display: inline-block;
    padding-right: 1.5em;
    */
}

.tooltip{
    position: relative;
    display: inline-block;
}
.tooltip .tooltip-text {
    visibility: hidden;
    width:240px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: .25em;
    color: #fff;
    text-align: left;
    padding: 6px;
    position: absolute;
    z-index: 1;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 13px;
    line-height: 1.4em;
}
.tooltip:hover .tooltip-text {
    visibility: visible;
}
